body {
    background-color: rgb(250, 227, 227);
    border: black solid;
    margin: 100px;
    
    padding: 20px;

}

#contactlinks{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(250, 86, 86);

}

button{

    background-color:rgb(252, 133, 129);
    color: rgb(44, 8, 7);
    float: left;
    width: 50%;
    height: 33px;
    cursor: pointer;
    transition-duration: 0.4s;
    
}
#link a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
button:hover{
    background-color: rgb(44, 8, 7);
    color: rgb(252, 133, 129);
}


h1 {
    text-align: center;
}

#skills{

    color:rgb(0, 0, 0);
    /* background-image: url("bg1.jpg"); */
    /* opacity: 0.7; */
    background-repeat: no-repeat;
    background-size:cover;
    
    /* background-color: rgb(188, 241, 224); */
}
#education{
    /* background-color: rgb(255, 140, 175); */
}